* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
}
body{
  background-color: rgb(56, 191, 253);
  display: flex;
  justify-content: center;
}
.contenedor{
  background-color: aliceblue;
  width: 23rem;
  margin-bottom: 60px;
  padding-bottom: 42px;
  border-radius: 12px;
}